.base64Container {
  text-align: center;
  margin: 0 auto;
  display: block;
  color: white;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  width: 139px;
  height: 28px;
  padding: 5px;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 13.2px;
  font-weight: lighter;
  margin-right: 200px;
  background: #b393c2;
  border: 1px solid #400655;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
