.appContainer {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 50%;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #fcfaeb;
}
.logo {
  width: 15vw;
  height: 30vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
